{% extends "layout.html" %}
{% block content %}

<h2>Luo uusi tehtava</h2>

<a href="/courses">Palaa takaisin</a> <p>

<form action="/addassignment" method="post">
Kurssin nimi:
<input type="text" name="coursename" class="form-control" minlength="1" maxlength="50">
<p>Tehtavan nimi:
<input type="text" name="name" class="form-control" minlength="1" maxlength="50">
<p>Tehtavananto:
<input type="text" name="assignment" class="form-control" minlength="1" maxlength="200">
<p>Oikea vastaus:
<input type="text" name="answer" class="form-control" minlength="1" maxlength="50">

<p>Monivalinta:
<input type="checkbox" name="multichoice" value="1" id="check" onclick="checkbox_checked()">
<input type="hidden" name="multichoice" value="0">
<p id="checked" style="display:none">
Vaihtoehto 1:
<input type="text" name="option1" class="form-control" minlength="1" maxlength="50">
<br>Vaihtoehto 2:
<input type="text" name="option2" class="form-control" minlength="1" maxlength="50">
<br>Vaihtoehto 3:
<input type="text" name="option3" class="form-control" minlength="1" maxlength="50">
</p>
<p>
<input type="submit" value="Luo" class="button-1">
</form>

<script>
function checkbox_checked() {
    var checkBox = document.getElementById("check");
    var text = document.getElementById("checked");
  
    if (checkBox.checked == true){
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
}
</script>

{% endblock %}