{% extends "layout.html" %}
{% block content %}

<h2>Luo uutta materiaalia</h2>

<a href="/courses">Palaa takaisin</a>
<p>

<form action="/addmaterial" method="post">
Kurssin nimi:
<input type="text" name="coursename" class="form-control" minlength="2" maxlength="50">
<p>Materiaalin nimi:
<input type="text" name="materialname" class="form-control" minlength="2" maxlength="50"><br>
<input type="submit" value="Luo" class="button-1">
<p>Materiaali:<br>
<textarea name="material" minlength="1" maxlength="3000">
</textarea>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


{% endblock %}