{% extends "layout.html" %}
{% block content %}

<h2>Tehtava: {{ assignment_name }}</h2>

<a href="/course/{{ course_id }}">Palaa takaisin</a>
<p>

<h3>Tehtavananto</h3>
{{ assignment_text }}

{% if session.user_role=="opettaja" %}

<h4>Oikea vastaus:</h4>
{{ assignment_answer }}
{% endif %}

{% if session.user_role=="oppilas" %}

{% if assignment_multichoice==0 %}
<p>
<form action="/answer" method="post">
<input type="hidden" name="assignment_id" value="{{ assignment_id }}">
<h4>Anna vastaus:</h4>
<input type="text" name="answer" class="form-control" minlength="1" maxlength="50">
<input type="submit" value="Vastaa" class="button-1">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% if assignment_multichoice==1 %}
<p>
<form action="/answer" method="post">
<input type="hidden" name="assignment_id" value="{{ assignment_id }}">
<h4>Valitse oikea vaihtoehto:</h4>
<select name="answer" multiple class="select-1">
    <option value="{{assignment_option1}}">{{ assignment_option1 }}</option>
    <option value="{{assignment_option2}}">{{ assignment_option2 }}</option>
    <option value="{{assignment_option3}}">{{ assignment_option3 }}</option>
</select>
<p>
<input type="submit" value="Vastaa" class="button-1">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% endif %}

{% endblock %}