{% extends "layout.html" %}
{% block content %}

<h2>Vaihda kurssin nimea</h2>

<a href="/courses">Palaa takaisin</a>

<form action="/changecourse" method="post">
<p>Kurssin vanha nimi:
<input type="text" name="oldname" class="form-control" minlength="2" maxlength="50">
<p>Kurssin uusi nimi:
<input type="text" name="newname" class="form-control" minlength="2" maxlength="50">
<input type="submit" value="Vaihda" class="button-1">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}